
        <p>
          <table class="table">
            <thead>
            <tr>
              <th>Deskripsi</th>
              <th>Jumlah</th>
              <th style="text-align:right">Harga Satuan</th>
              <th style="text-align:right">Harga</th>
            </tr>
            </thead>
            <tbody>
            <% invoice.invoice_items.each do |invoice_item| %>
              <tr>
                <td><%= invoice_item.description %></td>
                <td><%= invoice_item.quantity %></td>
                <td style="text-align:right"><%= number_to_currency(invoice_item.fee.amount) %></td>
                <td style="text-align:right"><%= number_to_currency(invoice_item.quantity * invoice_item.fee.amount) %></td>
              </tr>
            <% end %>
              <tr>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td style="text-align:right"><strong><%= number_to_currency(invoice.amount) %></strong></td>
              </tr>
            </tbody>
          </table>
        </p>

        <% if invoice.payments.size > 0 %>
        <p>
          <table class="table">
            <thead>
            <tr>
              <th>Pembayaran</th>
              <th>Waktu</th>
              <th style="text-align:right">Jumlah</th>
            </tr>
            </thead>
            <tbody>
            <% invoice.payments.each do |payment| %>
              <tr>
                <td><%= payment.method %></td>
                <td><%= payment.created_at %></td>
                <td style="text-align:right"><%= number_to_currency(payment.amount) %></td>
              </tr>
            <% end %>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td style="text-align:right"><strong><%= number_to_currency(invoice.payments.sum(:amount)) %></strong></td>
              </tr>
            </tbody>
          </table>
        </p>
        <% end %>

        <% if invoice.refund %>
        <p>
          <dl class="row">
            <dt class="col-sm-4">Lebih Bayar</dt>
            <dd class="col-sm-8"><%= number_to_currency(invoice.refund.amount) %></dd>
            <% if invoice.refund.paid_at %>
              <dt class="col-sm-4">Sudah dikembalikan tanggal</dt>
              <dd class="col-sm-8"><%= invoice.refund.paid_at %></dd>
            <% end %>
          </dl>
        </p>
        <% end %>
