<%= turbo_stream.replace(dom_id(@refund)) do %>
  <%= render 'status', refund: @refund %>
<% end %>
<%= turbo_stream.replace("refunds-count") do %>
  <%= refunds_count_badge %>
<% end %>
<%= turbo_stream.replace("flash_messages") do %>
  <div id="flash_messages"><%= render "flash_toastr" %></div>
<% end %>
