<%= form_with(model: admin_user, url: (admin_user.new_record? ? admin_users_path : admin_user_path(admin_user)), html: { class: "form-horizontal", role: "form" }) do |form| %>
  <!-- Default box -->
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">
      <% if admin_user.new_record? %>
        Menambahkan Pengguna Baru
      <% else %>
        Data Pengguna: <%= admin_user.username %>
      <% end %>
      </h3>
    </div>
    <div class="card-body">
      <% if admin_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

          <ul>
            <% admin_user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if admin_user.new_record? %>
        <div class="form-group row">
          <%= form.label :name, class: "control-label col-sm-3" do %>
          Username <span class="required">*</span>
          <% end %>
          <div class="col-sm-4">
            <%= form.text_field :username, class: "form-control", required: true %>
          </div>
        </div>
      <% end %>
      <% unless admin_user.new_record? %>
      <div class="form-group row">
        <%= form.label :name, "Gravatar", class: "control-label col-sm-3" %>
        <div class="col-sm-4 gravatar_tip">
          <%= image_tag admin_user.gravatar_url(size: 120) %>
        </div>
      </div>
      <% end %>
      <div class="form-group row">
        <%= form.label :name, class: "control-label col-sm-3" do %>
        Nama Lengkap <span class="required">*</span>
        <% end %>
        <div class="col-sm-4">
          <%= form.text_field :fullname, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name, class: "control-label col-sm-3" do %>
        Group <span class="required">*</span>
        <% end %>
        <div class="col-sm-4">
                          <%= form.select :group_id, User.options_for_group, 
                              {include_blank: "- Pilih -"},
                              { class: "form-control", required: true }
                          %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name, class: "control-label col-sm-3" do %>
        Email <span class="required">*</span>
        <% end %>
        <div class="col-sm-4">
          <%= form.text_field :email, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name, "Password", class: "control-label col-sm-3" %>
        <div class="col-sm-4">
        <% if admin_user.new_record? %>
          <%= form.password_field :password, class: "form-control tooltip-poshy", id: "demo-basic", title: "Minimal 4 karakter." %>
        <% elsif admin_user.id == current_user.id %>
          <%= form.password_field :password, class: "form-control tooltip-poshy", id: "demo-basic", title: "Anda akan otomatis log out setelah password berhasil diganti." %>
        <% else %>
          <%= form.password_field :password, class: "form-control tooltip-poshy", id: "demo-basic", title: "Kosongkan jika tidak ingin mengganti password." %>
        <% end %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name, "Konfirmasi Password", class: "control-label col-sm-3" %>
        <div class="col-sm-4">
          <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
<% end %>
