<div class="card" id="filterrific_results">
  <div class="card-body">

    <table id="admissions_table" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Nama</th>
        <th>Tempat, Tanggal Lahir</th>
        <th>Kursus</th>
        <th>Tanggal Pendaftaran</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% admissions.each do |admission| %>
        <tr>
          <td><%= link_to admission.name, admission_path(admission) %></td>
          <td><%= admission.birthplace %>, <%= admission.birthdate %></td>
          <td><%= admission.courses.map {|e| "#{e.program.program} - #{e.name}" }.join(", ") %></td>
          <td><%= admission.created_at %></td>
          <td><%= link_to edit_admission_path(admission) do %>
            <%= button_tag type: 'button', class: 'btn btn-primary' do %>
              Edit
            <% end %>
            <% end %>
          </td>
          <td><%= button_to 'Delete', admission, method: :delete, data: { "turbo-confirm": 'Are you sure?' }, class: 'btn btn-danger', disabled: false %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
<!-- ./card-body -->
  <div class="card-footer">
    <%= will_paginate admissions %>
  </div>
</div>
<!-- ./card -->
